body.desktop {
  .q-focusable:focus, .q-manual-focusable--focused, .q-hoverable:hover {
    > .q-focus-helper {
      background: currentColor;
      opacity: .05;
    }
  }
}
.flex-fit {
  flex: 1 1 auto;
}
